<body>
  <div class="header">
    <div class="container">

      <h2 class="logo"><img class="logo" src="assets/img/logo.png" alt=""></h2>
      <input type="checkbox" id="chk" (click)="toggleCards()">
      <label for="chk" class="show-menu-btn">
        <img class="menuBar" src="/assets/img/menu.svg
    " alt="">
      </label>


      <ul class="menu">

        <a routerLink="/">Главная</a>
        <a routerLink="/about" routerLinkActive="active">Про нас</a>
        <a routerLink="/timeTable">Расписание</a>
        <a routerLink="/contact">Контакты</a>

        <label for="chk" class="hide-menu-btn">
          <i class="fas fa-times"></i>
        </label>

      </ul>
    </div>
  </div>
  <div *ngIf="toggle">

    <div class="firstBox">


    </div>
    <div class="fonBox">

    </div>


    <div class="secondBox">
      <div class="container">

        <div class="textCard">
          <img сlass="AnimeScard" src="assets/img/SecondCard.jpg" alt="">
          <h1>Про нас</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloribus ea saepe tempora autem porro
            atque totam libero facere ullam? Natus reprehenderit dolorem voluptas, repellat beatae obcaecati quos
            voluptatem esse vero totam sequi cumque magni porro aut aliquid nostrum et tempora debitis adipisci odio
            animi numquam nam eos sunt. Et.</p>
        </div>
        <hr class="line">
        <button class="secondBoxBtn" routerLink="/gallery"><img src="assets/img/gallery.svg">Галерея</button>
      </div>
    </div>
  </div>
  <div class="fonBox">

  </div>
  <div class="footer">
    <div class="container">
      <div class="kont">
        <h5>Контакты</h5>
        <p>325-325-325-325<br>325-325-325-325</p>
      </div>
      <div class="kont">
        <h5>Адрес</h5>
        <p>вулиця Академіка Туполєва,<br> 11-Е, Київ, 04128</p>
      </div>
      <div class="kont">
        <h5>Почта</h5>
        <p>Andrei@gmail.com<br>Andrei@gmail.com</p>
      </div>

    </div>

  </div>

  <div class="footerbtn">
    <form action="/about">
      <button class="Btnup"><img src="assets/img/up-arrow.svg"></button>
    </form>
  </div>
</body>
