<body>
  <div class="header">
    <div class="container">
      <h2 class="logo"><img class="logo" src="assets/img/logo.png" alt=""></h2>
      <input type="checkbox" id="chk" (click)="toggleCards()">
      <label for="chk" class="show-menu-btn">
        <img class="menuBar" src="/assets/img/menu.svg
    " alt="">
      </label>


      <ul class="menu">

        <a routerLink="/">Головна</a>
        <a routerLink="/about" routerLinkActive="active">Про нас</a>
        <a routerLink="/timeTable">Розклад</a>
        <a routerLink="/contact">Контакти</a>

        <label for="chk" class="hide-menu-btn">
          <i class="fas fa-times"></i>
        </label>

      </ul>
    </div>
  </div>
  <div *ngIf="toggle">

    <div class="firstBox">


    </div>
    <div class="fonBox">

    </div>


    <div class="secondBox">
      <div class="container">


        <div class="textCartTwo">

          <h1> Про нас</h1>
          <p>Спільні інтереси лежать в основі всього, що ми робимо. Ми тут, щоб тренуватися разом, розвиватися як
            особистість, змагатися та перемагати. Зміцнення віри в свої можливості. Падати і знову підійматися.Йдеться
            про розширення можливостей- відчувати себе сильніше в середині та зовні...</p>
          <hr class="line">

          <button class="secondBoxBtn" routerLink="/gallery"><img id="solovei"
              src="assets/img/gallery.svg">Галерея</button>
        </div>
      </div>

    </div>

  </div>
  <div class="fonBox">

  </div>
  <div class="footer">
    <div class="container">
      <div class="kont">
        <h5>Контакти</h5>
        <p>+38 (068) 883 48 78<br>+38 (097) 818 24 36</p>
      </div>
      <div class="kont">
        <h5>Адрес</h5>
        <p>вулиця Академіка Туполєва,<br> 11-Е, Київ, 04128</p>
      </div>
      <div class="kont">
        <h5>Пошта</h5>
        <p>b_o_n_u_s@ukr.net<br><span style="color: #1b1b1b;">n.dovnich@gmail.com</span></p>
      </div>

    </div>

  </div>

  <div class="footerbtn">
    <form>
      <button class="Btnup" onClick="location.href='mailto:n.dovnich@gmail.com?subject='">Created by - KomaVena</button>
    </form>
  </div>
</body>
