<body>
  <div class="header">
    <div class="container">

      <h2 class="logo"><img class="logo" src="assets/img/logo.png" alt=""></h2>
      <input type="checkbox" id="chk" (click)="toggleCards()">
      <label for="chk" class="show-menu-btn">
        <img class="menuBar" src="/assets/img/menu.svg
      " alt="">
      </label>


      <ul class="menu">

        <a routerLink="/">Головна</a>
        <a routerLink="/about">Про нас</a>
        <a routerLink="/timeTable" routerLinkActive="active">Розклад</a>
        <a routerLink="/contact">Контакти</a>

        <label for="chk" class="hide-menu-btn">
          <i class="fas fa-times"></i>
        </label>

      </ul>
    </div>
  </div>
  <div *ngIf="toggle">
    <div class="startT">


      <div class="fir">
        <h1>Розклад:</h1>
      </div>
      <div class="container">
        <div class="mama">
          <div class="table_wrap">
            <table class="table">
              <thead>
                <tr class="colorOr">
                  <th>Викладач</th>
                  <th>Вiкова категорiя</th>
                  <th>Види спорту</th>
                  <th>ПН</th>
                  <th>ВТ</th>
                  <th>СР</th>
                  <th>ЧТ</th>
                  <th>ПТ</th>
                  <th>СБ</th>
                </tr>

              </thead>

              <tbody>
                <tr>
                  <td data-label="Викладач">Коваль М.Г</td>
                  <td data-label="Вiкова категорiя">8-11 рокiв</td>
                  <td data-label="Види спорту">ДЗЮ-ДО</td>
                  <td data-label="ПН">16:00</td>
                  <td data-label="ВТ">-</td>
                  <td data-label="СР">16:00</td>
                  <td data-label="ЧТ">-</td>
                  <td data-label="ПТ">16:00</td>
                  <td data-label="СБ">-</td>
                </tr>
                <tr>
                  <td data-label="Викладач">Коваль М.Г</td>
                  <td data-label="Вiкова категорiя">4-7 рокiв</td>
                  <td data-label="Види спорту">ДЗЮ-ДО</td>
                  <td data-label="ПН">17:00</td>
                  <td data-label="ВТ">-</td>
                  <td data-label="СР">17:00</td>
                  <td data-label="ЧТ">-</td>
                  <td data-label="ПТ">17:00</td>
                  <td data-label="СБ">-</td>
                </tr>
                <tr>
                  <td data-label="Викладач">Огороднiченко А.П</td>
                  <td data-label="Вiкова категорiя">6-8 рокiв</td>
                  <td data-label="Види спорту">Кiкбоксiнг</td>
                  <td data-label="ПН">18:00</td>
                  <td data-label="ВТ">-</td>
                  <td data-label="СР">18:00</td>
                  <td data-label="ЧТ">-</td>
                  <td data-label="ПТ">18:00</td>
                  <td data-label="СБ">-</td>
                </tr>
                <tr>
                  <td data-label="Викладач">Огороднiченко А.П</td>
                  <td data-label="Вiкова категорiя">12 та старше рокiв</td>
                  <td data-label="Види спорту">Тайскiй бокс</td>
                  <td data-label="ПН">19:30</td>
                  <td data-label="ВТ">-</td>
                  <td data-label="СР">19:30</td>
                  <td data-label="ЧТ">-</td>
                  <td data-label="ПТ">19:30</td>
                  <td data-label="СБ">-</td>
                </tr>
                <tr>
                  <td data-label="Викладач">Огороднiченко А.П</td>
                  <td data-label="Вiкова категорiя">6-8 рокiв</td>
                  <td data-label="Види спорту">Бокс</td>
                  <td data-label="ПН">-</td>
                  <td data-label="ВТ">16:00</td>
                  <td data-label="СР">-</td>
                  <td data-label="ЧТ">16:00</td>
                  <td data-label="ПТ">-</td>
                  <td data-label="СБ">13:00</td>
                </tr>
                <tr>
                  <td data-label="Викладач">Огороднiченко А.П</td>
                  <td data-label="Вiкова категорiя">9-11 рокiв</td>
                  <td data-label="Види спорту">Кiкбоксiнг</td>
                  <td data-label="ПН">-</td>
                  <td data-label="ВТ">17:00</td>
                  <td data-label="СР">-</td>
                  <td data-label="ЧТ">17:00</td>
                  <td data-label="ПТ">-</td>
                  <td data-label="СБ">12:00</td>
                </tr>
                <tr>
                  <td data-label="Викладач">Огороднiченко А.П</td>
                  <td data-label="Вiкова категорiя">9-11 рокiв</td>
                  <td data-label="Види спорту">бокс</td>
                  <td data-label="ПН">-</td>
                  <td data-label="ВТ">18:00</td>
                  <td data-label="СР">-</td>
                  <td data-label="ЧТ">18:00</td>
                  <td data-label="ПТ">-</td>
                  <td data-label="СБ">14:00</td>
                </tr>
                <tr>
                  <td data-label="Викладач">Огороднiченко А.П</td>
                  <td data-label="Вiкова категорiя">12 та старше рокiв</td>
                  <td data-label="Види спорту">Тайскiй бокс</td>
                  <td data-label="ПН">-</td>
                  <td data-label="ВТ">19:30</td>
                  <td data-label="СР">-</td>
                  <td data-label="ЧТ">19:30</td>
                  <td data-label="ПТ">-</td>
                  <td data-label="СБ">10:00</td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>
      </div>





      <div class="info">
        <div class="container">
          <p><span class="star">* </span>До 12 рокiв тренування 60 min </p>
          <p><span class="star">* </span> З 12 рокiв тренування 90 min </p>
        </div>
      </div>



      <div class="container">
        <div class="price">
          <div class="card" style="width: 300px;">
            <img src="assets/img/CupOne.svg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><span class="cardPrice">Цена: 500 грн/мiс</span><br>Діти до 11 років.</p>
            </div>
          </div>

          <div class="card" style="width: 300px;">
            <img src="assets/img/cupSilver.svg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><span class="cardPrice">Цена: 600 грн/мiс</span><br>З 11 до 30 рокiв. </p>
            </div>
          </div>

          <div class="card" style="width: 300px;">
            <img src="assets/img/cupGold.svg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><span class="cardPrice">Цена: 800 грн/мiс</span><br>Понад 30 рокiв.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="fonBox">

  </div>
  <div class="footer">
    <div class="container">
      <div class="kont">
        <h5>Контакти</h5>
        <p>+38 (068) 883 48 78<br>+38 (097) 818 24 36</p>
      </div>
      <div class="kont">
        <h5>Адрес</h5>
        <p>Вулиця Академіка Туполєва,<br> 11-Е, Київ, 04128</p>
      </div>
      <div class="kont">
        <h5>Пошта</h5>
        <p>b_o_n_u_s@ukr.net<br><span style="color: #1b1b1b;">n.dovnich@gmail.com</span></p>
      </div>

    </div>

  </div>

  <div class="footerbtn">
    <form>
      <button class="Btnup" onClick="location.href='mailto:n.dovnich@gmail.com?subject='">Created by - KomaVena</button>
    </form>
  </div>
</body>
