<button class=back routerLink="/" routerLink="/about">back</button>

<input type="checkbox" id="pic-1" />
<label for="pic-1" class="lightbox"><img src="/assets/img/gallery/test02.jpg"></label>
<input type="checkbox" id="pic-2" />
<label for="pic-2" class="lightbox"><img src="/assets/img/gallery/test04.jpg"></label>
<input type="checkbox" id="pic-3" />
<label for="pic-3" class="lightbox"><img src="/assets/img/gallery/test06.jpg"></label>
<input type="checkbox" id="pic-4" />
<label for="pic-4" class="lightbox"><img src="/assets/img/gallery/test08.jpg"></label>
<input type="checkbox" id="pic-5" />
<label for="pic-5" class="lightbox"><img src="/assets/img/gallery/test10.jpg"></label>
<input type="checkbox" id="pic-6" />
<label for="pic-6" class="lightbox"><img src="/assets/img/gallery/test12.jpg"></label>
<input type="checkbox" id="pic-7" />
<label for="pic-7" class="lightbox"><img src="/assets/img/gallery/test14.jpg"></label>
<input type="checkbox" id="pic-8" />
<label for="pic-8" class="lightbox"><img src="/assets/img/gallery/test16.jpg"></label>
<input type="checkbox" id="pic-9" />
<label for="pic-9" class="lightbox"><img src="/assets/img/gallery/test18.jpg"></label>
<input type="checkbox" id="pic-10" />
<label for="pic-10" class="lightbox"><img src="/assets/img/gallery/test20.jpg"></label>
<input type="checkbox" id="pic-11" />
<label for="pic-11" class="lightbox"><img src="/assets/img/gallery/test22.jpg"></label>
<input type="checkbox" id="pic-12" />
<label for="pic-12" class="lightbox"><img src="/assets/img/gallery/test24.jpg"></label>

<div class="grid">
  <label for="pic-1" class="grid-item"><img src="/assets/img/gallery/test01.jpg"></label>
  <label for="pic-2" class="grid-item"><img src="/assets/img/gallery/test03.jpg"></label>
  <label for="pic-3" class="grid-item"><img src="/assets/img/gallery/test05.jpg"></label>
  <label for="pic-4" class="grid-item"><img src="/assets/img/gallery/test07.jpg"></label>
  <label for="pic-5" class="grid-item"><img src="/assets/img/gallery/test09.jpg"></label>
  <label for="pic-6" class="grid-item"><img src="/assets/img/gallery/test11.jpg"></label>
  <label for="pic-7" class="grid-item"><img src="/assets/img/gallery/test13.jpg"></label>
  <label for="pic-8" class="grid-item"><img src="/assets/img/gallery/test15.jpg" /></label>
  <label for="pic-9" class="grid-item"><img src="/assets/img/gallery/test17.jpg" /></label>
  <label for="pic-10" class="grid-item"><img src="/assets/img/gallery/test19.jpg" /></label>
  <label for="pic-11" class="grid-item"><img src="/assets/img/gallery/test21.jpg" /></label>
  <label for="pic-12" class="grid-item"><img src="/assets/img/gallery/test23.jpg" /></label>
</div>
