body {
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 2;
  height: 100px;
  background: #7c7b7b8d;
  padding: 0 20px;
  color: #fff;

}


//------------------------logo start 

.logo img {
  width: 70%;
  height: 70%;
  padding-top: 11%;

}

.logo {
  float: left;
}


//------------------------logo end


//------------------------menu start 


.menu {
  text-align: center;
  display: inline;
  line-height: 100px;

}



.menu a {
  text-align: center;
  color: #fff;
  text-decoration: none;
  margin-left: 35px;
  margin-right: 35px;
  padding-bottom: 5px;

}

.menu a:hover {
  border-bottom: 2.5px solid rgb(250, 134, 39);
  color: rgb(250, 134, 39);
}

.menu a.active {
  border-bottom: 2.5px solid rgb(250, 134, 39);
}

.menuBar {
  width: 30px;
  height: 30px;
}

.show-menu-btn,
.hide-menu-btn {

  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn {
  float: right;
}

.show-menu-btn i {
  line-height: 100px;
}



#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}


//------------------------menu end 



//------------------------menu start adp


@media screen and (max-width:1000px) {

  .show-menu-btn,
  .hide-menu-btn {
    display: block;
    padding-top: 26px;
    padding-bottom: 20px;
    padding-right: 20px;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(22, 20, 16);
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;

  }

  .menu a {
    display: block;
    border-bottom: 1px solid white;
    padding-top: 35px;
    padding-bottom: 40px;
    width: auto;
    height: auto;

  }

  .menu a.active {
    color: rgb(250, 134, 39);
    border-bottom: 2.5px solid rgb(250, 134, 39);
  }

  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 400px;
  }

  #chk:checked~.menu {
    right: 0;
  }


  #pod {
    display: none;
  }

  .carousel-indicators {
    display: none;
  }
}

@media screen and (max-width:770px) {

  .show-menu-btn,
  .hide-menu-btn {
    display: block;
    padding-top: 26px;
    padding-bottom: 20px;
    padding-right: 20px;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(22, 20, 16);
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;

  }

  .menu a {
    display: block;
    border-bottom: 1px solid white;
    padding-top: 35px;
    padding-bottom: 40px;
    width: auto;
    height: auto;

  }

  .menu a.active {
    color: rgb(250, 134, 39);
    border-bottom: 2.5px solid rgb(250, 134, 39);
  }

  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 400px;
  }

  #chk:checked~.menu {
    right: 0;
  }


  #pod {
    display: none;
  }

  .carousel-indicators {
    display: none;
  }
}

@media screen and (max-width:375px) {
  .logo img {
    width: 60%;
    height: 60%;
    margin-bottom: -100px;
  }
}

@media screen and (max-width:320px) {
  .logo img {
    width: 60%;
    height: 60%;
    margin-bottom: -100px;
  }
}

@media screen and (max-width:2560px) {
  #pod {
    top: 25%;
  }
}





//------------------------menu end adp



//----------------------------- slider start 
.slider {
  height: 100vh ! important;
  width: 100%;
}

// carousel-indicators start
.carousel-indicators li {
  background-color: rgb(250, 134, 39);
}





// carousel-indicators end




//text card start

#pod {
  position: fixed;
  z-index: 0;
  bottom: 20%;
  left: 12%;
  width: 580px;
  height: 500px;
  background: #a09f9f8d;
  transform: translateX(-200rem);
  animation: slideIn 2s forwards;
}

.SocialMenu {
  position: relative;
  left: 50%;
}

.SMF {
  transform: translateX(-200rem);
  animation: slideIn 1.5s forwards;
}

.SMI {
  transform: translateX(200rem);
  animation: slideIn 2s forwards;
}

.SocialMenu img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
}




.textSliderOne {
  float: left;
  text-align: left;
  position: fixed;
  top: 31%;
  font-size: 70px;
  font-weight: bolder;
  letter-spacing: 1.5px;
}

.textSliderOne span {
  color: red;
}

.textSliderTwo {
  margin-left: auto;
  margin-right: auto;
  font-size: 70px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding-bottom: 20%;
}


//text card end




//animation text start
.sportStart {
  transform: translateX(150rem);
  animation: slideIn 1s forwards;
}

.sportEnd {
  transform: translateX(-150rem);
  animation: slideIn 2s forwards;
}

.startBtn {
  transform: translateX(-150rem);
  animation: slideIn 1s forwards;
}

.endBtn {
  transform: translateX(150rem);
  animation: slideIn 2s forwards;
}

.sportStartTwo {
  transform: translateY(150rem);
  animation: slideIn 1s forwards;

}

//animation text end



//------------------ slider btn  start
.btnOne {
  font-size: 16px;
  margin-right: 15px;
  width: 200px;
  height: 40px;
  background: rgb(250, 134, 39);
  border: none;
  color: white;
}

.btnOne:focus {
  outline: none;
}

.btnOne:hover {
  background: rgba(250, 134, 39, 0.609);
}

button img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}




//------------------ slider btn end
@keyframes slideIn {
  from {}

  to {
    transform: translateX(0);
  }
}
