<!-- mein menu start-->

<body>



  <div class="header">
    <div class="container">

      <h2 class="logo"><img class="logo" src="assets/img/logo.png" alt=""></h2>
      <input type="checkbox" id="chk" (click)="toggleCards()">
      <label for="chk" class="show-menu-btn">

        <img class="menuBar" src="/assets/img/menu.svg
    " alt="">
      </label>


      <ul class="menu">

        <a routerLink="/" routerLinkActive="active">Главная</a>
        <a routerLink="/about">Про нас</a>
        <a routerLink="/timeTable">Расписание</a>
        <a routerLink="/contact">Контакты</a>

        <label for="chk" class="hide-menu-btn">
          <i class="fas fa-times"></i>
        </label>

      </ul>
    </div>
  </div>

  <!-- mein menu start end-->

  <!--slider start-->
  <div *ngIf="toggle">



    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">


      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>


      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="30000">
          <img src="assets/img/meinTwo.png" class="d-block w-100 slider" alt="...">
          <div class="carousel-caption d-none d-md-block">



            <div class="SocialMenu">
              <a href=""> <img class="SMF" src="assets/img/facebook.svg" alt="facebook"></a>
              <a href="https://www.instagram.com/sc_academia/"> <img class="SMI" src="assets/img/instagram.svg"
                  alt="instagram"></a>
            </div>

            <div id="pod"></div>

            <div class="textSliderOne">
              <p class="sportStart">Спортивный </p>
              <p class="sportEnd">Клуб <span>Академия</span> </p>
              <button class="btnOne startBtn"><img src="assets/img/gallery.svg">Галерея</button>
              <button class="btnOne endBtn"><img src="assets/img/message.svg">Напиши мне</button>
            </div>


          </div>
        </div>
        <div class="carousel-item" data-interval="30000">
          <img src="assets/img/Second.png" class="d-block w-100 slider" alt="...">
          <div class="carousel-caption d-none d-md-block">


            <div class="textSliderTwo">
              <p class="sportStartTwo">Тренируйся с чемпионами</p>
            </div>


          </div>
        </div>
        <div class="carousel-item" data-interval="30000">
          <img src="assets/img/third.png" class="d-block w-100 slider" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <div class="textSliderTwo">
              <p class="sportStartTwo">Наша команда</p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>


      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


  </div>
</body>
